<h2>7.理賠後收回明細表(月報)，賠付後收回之案件資料</h2>
<h3 style="text-align: center;">
  104年1-12月輸出保險理賠後收回款明細表
</h3>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        被保險人
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        險別
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        輸出地區
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        交易產品
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        國外買主/開狀銀行
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        被保險人信用配額或開狀銀行信用配額<br />(美元/新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        賠付日期
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        賠付金額<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        賠付原因
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        收回日期
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        收回款<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        本行分得收回款金額<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        簽單年度
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        再保險攤賠比率(%)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        分配予再保險公司之金額<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        自留理賠後收回款<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        分配予582專案補助之金額<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        追索情形
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%">
        V
      </td>
    </tr>
  </tbody>
</table>