<h2>
  8.追債季報表，中再/慕再追債費用相關金額(含彙總/明細)
</h2>
<h3 style="text-align: right;">Loss Paid Analysis（2001 Treaty）</h3>
<h5 style="text-align: right;margin-bottom: 5px;">NT$Thousand</h5>
<table
  style="font-size: 12px;border: 1px solid black;text-align: right;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Local Exporter
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        Total
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Overseas Buyer
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Exporting Area
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Type
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Insured Amount<br />（NT$000）
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Reason for default
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Possibility of Recovery
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Loss Recovery Date
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Recovery Amount<br />（NT$000）
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
    </tr>
  </tbody>
</table>
<p>Note：（1）Your treaty share is 50% of the above figures.</p>
<p>Table 3</p>
<p>2001 Outstanding/Threaterning Losses Bordereau Estimated as at December 31,2015 for 2001 treaty</p>
<br />
<h3>EXIMBANK OF R.O.C,Export Credit R/I Treaty</h3>
<h5 style="text-align: right;margin-bottom: 5px;">NT$Thousand</h5>
<table
  style="font-size: 12px;border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Local Exporter
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        Overseas Buyer
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        Exporting Area
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        Insured Amount
        Loss Amount
        Estimated
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        Claim Filed Date
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        Remark
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        Outstanding Loss
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        Threaterning Loss
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        Threaterning/Outstanding Losses
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        Remark
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 7%;">
        Reason for default
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        V
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        Outstanding
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 7%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        Total
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 7%;">
        V
      </td>
    </tr>
  </tbody>
</table>
<p>Note：（1）Your treaty share is 50% of the above figures.</p>
<p>Pursuant to a final and non-appealable judgment of the supreme court,there is n o responsibility for our bank to
  indemnify to the Insured due to quit</p>
<br />
<h3>Treaty Statisticsas of December 31, 2015</h3>
<h5 style="text-align: right;margin-bottom: 5px;">Unit:NT$Thousand</h5>
<table
  style="font-size: 12px;border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">
        U/Y
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        1st Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        2nd Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        3rd Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        4th Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        1st-4th Qtr
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">
        2014
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        R/I Premium 100%
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Your R/I Premium 100%
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Reinsur. Commission
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Paid
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Collection
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Recovery
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Outstanding Losses
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Ratio
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Combined Ratio
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">
        U/Y
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        1st Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        2nd Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        3rd Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        4th Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        5th Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        6th Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        7th Qtr
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        8th Qtr
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">
        2015
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        R/I Premium 100%
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Your R/I Premium 100%
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Reinsur. Commission
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Paid
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Collection
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Recovery
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Outstanding Losses
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Loss Ratio
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 5%;">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        Combined Ratio
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
  </tbody>
</table>