<h6 style="margin-bottom: 5px;">11.提存前損失率報表(月/季報)</h6>
<div style="text-align: center;font-size: 10px;">
  104年度輸出保險業務損失率(以未提存準備計算)
</div>
<div style="text-align: right;font-size: 10px;margin-bottom: 5px;">
  單位：％
</div>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;font-size: 9px;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 2rem">
      <th rowspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        104年度/月份
      </th>
      <th colspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        整體業務
      </th>
      <th colspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        自留業務
      </th>
    </tr>
    <tr style="height: 2rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        損失率
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        淨損失率
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        損失率
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        淨損失率
      </th>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
    </tr>
  </tbody>
</table>
<br />
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;font-size: 9px;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 2rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        106年度/季
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        單位
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        整體業務賠款
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        保費收入
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        損失率
      </th>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
        <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
          
        </td>
        <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
          
        </td>
        <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
          V
        </td>
        <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
          V
        </td>
        <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
          
        </td>
      </tr>
  </tbody>
</table>