<h6 style="margin-bottom: 5px;">8.追債費用表(月報)</h6>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;font-size: 9px;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;border-right: 0px;text-align: center;word-break: break-word;width: 15%;">
        追債費用＝
      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 2%;">
        -
      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="border: 1px solid black;border-left: 0px;text-align: center;word-break: break-word;width: 2%;">
        =
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;border-right: 0px;text-align: center;word-break: break-word;width: 15%;">
        自留追債費用＝
      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 2%;">
        -
      </td>
      <td
        style="border: 1px solid black;border-right: 0px;border-left: 0px;text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="border: 1px solid black;border-left: 0px;text-align: center;word-break: break-word;width: 2%;">
        =
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
    </tr>
    <tr style="height: 2rem"></tr>
    <tr style="height: 2rem">
      <td colspan="4" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        日期
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        備註
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        日期
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        減項
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        備註
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        經辦單位
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        VVVVVVV  VVVVVVVVVVVV VVVVVVVVVV VVVVVVVVVVVVVVV
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 2%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 10%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 10%;">

      </td>
    </tr>
  </tbody>
</table>