<h2>
  10.理賠後收回款分析表(月報)，提供理賠後收回款金額之彙統計表報表
</h2>
<h3 style="text-align: center;">
  105年1-3月輸出保險自留理賠後收回款分析表
</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  單位:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        承保單位別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        自留理賠後收回款金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        百分比
      </th>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        險別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        自留理賠後收回款金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        百分比
      </th>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        承保國家別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        自留理賠後收回款金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        百分比
      </th>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        交易貨品別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        自留理賠後收回款金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        百分比
      </th>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 35%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>

  </tbody>
</table>