<h6 style="margin-bottom: 5px;">6.理賠前收回明細表(月報)，賠款/款項已全部收回之逾期案件資料</h6>
<h6 style="text-align: center;font-size: 10px;margin-bottom: 5px;">
  104年12月輸出保險理賠前收回明細表
</h6>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;font-size: 9px;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        被保險人
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        險別
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        輸出貨價<br />（US$） 
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        輸出貨價
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        輸出地區
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        輸出產品
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        收回日期
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        信用保險金額<br />(新臺幣千元)
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        未付原因
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        經辦單位
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 2rem">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        處理人員
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
  </tbody>
</table>