<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 style="text-align: center;">請點擊報表連結</h2>
<div>
  <ul>
    <li>
      <h4><a routerLink="reportFour">報表4</a></h4>
    </li>
    <li>
      <h4><a routerLink="reportFive">報表5</a></h4>
    </li>
    <li>
      <h4><a routerLink="reportSix">報表6</a></h4>
    </li>
  </ul>
</div>
<div style="size: A4;margin: 0 auto;width: 820px;">
  <router-outlet></router-outlet>
</div>