<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-tab-group mat-stretch-tabs>
  <mat-tab *ngFor="let link of navLinks">
    <ng-template mat-tab-label>
      <a routerLinkActive #rla="routerLinkActive" [routerLink]="link.path">{{link.label}}</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div style="size: A4;margin: 0 auto;width: 820px;margin-bottom: 50px;">
  <router-outlet></router-outlet>
</div>