<h2>
  16.三年比較圖(月報)，提供理收前收回款/逾期可能賠付金額/賠款之彙總資料，以及長條圖分析顯示
</h2>
<h3 style="text-align: center;">
  三年比較圖
</h3>
<h5 style="text-align: right;margin-bottom: 5px;">（單位:新台幣/千元）</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">

      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        102年
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        103年
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 26%;">
        104年
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        理賠前收回款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        逾期可能賠付金額
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 22%">
        賠款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 26%;">
        V
      </td>
    </tr>
  </tbody>
</table>