<h2>
  10.再保險季報表，再保險分配之理賠款/追債用/理賠後收回款資料
</h2>
<h3>104年10月至12月理賠款（再保險分配部份）</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  幣別:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;border-bottom: 1px solid black">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        帳務日期
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        理賠案名稱
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        簽單<br />年度
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        保險別
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        賠款金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        慕再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        中再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        本行自留<br />賠款金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        單位別
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        備註
      </th>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        Globalsure
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        小計
      </th>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
    </tr>
  </tbody>
</table>
<br />
<h3>104年10月至12月追債費用（再保險分配部份）</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  幣別:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;border-bottom: 1px solid black">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        帳務日期
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        理賠案名稱
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        簽單<br />年度
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        保險別
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        費用金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        慕再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        中再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        本行分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        單位別
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        備註
      </th>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        Globalsure
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        小計
      </th>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
    </tr>
  </tbody>
</table>
<br />
<h3>104年10月至12月理賠後收回款（再保險分配部份）</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  幣別:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;border-bottom: 1px solid black">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        帳務日期
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        理賠案名稱
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        簽單<br />年度
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        保險別
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        收回款金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        慕再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        中再分<br />配金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 11%;">
        本行實<br />得金額
      </th>
      <th style="text-align: center;word-break: break-word;width: 8%;">
        單位別
      </th>
      <th style="text-align: center;word-break: break-word;width: 10%;">
        備註
      </th>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        Globalsure
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">
        V
      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;border-bottom: 1px solid black;">
      <th style="text-align: center;word-break: break-word;width: 10%;">
        小計
      </th>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 11%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 8%;">

      </td>
      <td style="text-align: center;word-break: break-word;width: 10%;">

      </td>
    </tr>
  </tbody>
</table>