<h2 >5.賠款明細表(月報)，賠款/收回明細資料。多次收回即顯示多筆</h2>
<h3 style="text-align: center;">
  104年1-12月輸出保險賠款明細表
</h3>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        被保險人
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        案號
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        保險單號碼/保險證明書號碼
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        輸出貨價
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        被保險人信用配額或開狀銀行信用配額<br />(美元/新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        買主/開狀銀行
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        買主國家/地區
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        交易產品
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        買主信用等級
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        賠付日期
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        賠付金額<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        賠付原因
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        簽單年度
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        再保險攤賠比率(%)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        再保險攤賠<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        本行自留賠款<br />(新臺幣元)
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        適用582專案金額<br />(新臺幣元）
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        適用加強輸出保險準備計劃<br />(新臺幣元）
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        調整後本行自留賠款<br />(新臺幣元）
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        經辦單位
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 45%;">
        V
      </td>
    </tr>
  </tbody>
</table>