<h3>104.12月新增逾期案件</h3>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">

  <tr style="height: 3rem;">
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      被保險人
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
      幣別
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      未付金額
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      案件狀況
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      可能理賠金額(NT$)
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 14%;">
      險別
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 23%;">
      國別/產品
    </th>
  </tr>

  <tbody>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 13%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 23%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 13%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 23%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th colspan="3" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        合計/件數/金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </th>
      <th colspan="2" rowspan="5" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th colspan="3" rowspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        再保險可能攤賠
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        自留可能賠款
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th colspan="3" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        新增582件數/金額/可能補助賠款
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 9%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th colspan="4" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        調整後本行可能自留賠款
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </th>
    </tr>
  </tbody>
</table>
<br />
<h3>104.12.31止累計逾期可能賠付案件金額統計</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  幣別:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">

  <tr style="height: 3rem;">
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
      國家別
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
      逾期件數
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
      逾期可能賠付金額
    </th>
  </tr>

  <tbody>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        再保險可能攤賠金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        本行可能自留賠款
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        582專案可能自留賠款補助
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        調整後本行可能自留賠款
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
  </tbody>
</table>
<br />
<h3>104年12月份新增逾期可能賠付案件金額統計</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  幣別:新臺幣元
</h5>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        國家別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        逾期件數
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        逾期可能賠付金額
      </th>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        合計/件數/金額
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        再保險可能攤賠金額
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 40%;">
        本行可能自留賠款
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
        V
      </th>
      <th style="border: 1px solid black;text-align: right;word-break: break-word;width: 40%;">
        V
      </th>
    </tr>
  </tbody>
</table>