<h2>9.賠款分析表(月報)，提供依險別/單位別/國家別/交易產品別之統計資料</h2>
<h3 style="text-align: center;">104年1-12月本行輸出保險賠款分析表(險別)</h3>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">

  <tr style="height: 3rem;">
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
      出口商
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
      險別
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
      輸出產品
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
      賠付金額<br />(新臺幣元)
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
      小計<br />(新臺幣元)
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
      百分比
    </th>
  </tr>

  <tbody>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td rowspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
  </tbody>
</table>
<h3 style="text-align: center;">104年1-12月本行輸出保險賠款分析表(單位別)</h3>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>Í
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        出口商
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        經辦單位
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        險別
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        賠付金額<br />(新臺幣元)
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        小計<br />(新臺幣元)
      </th>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        百分比
      </th>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td rowspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 12%;">

      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 17%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 17%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 12%;">
        V
      </td>
    </tr>
  </tbody>
</table>
<h3 style="text-align: center;">104年1-12月本行輸出保險賠款分析表(單位別)</h3>
<table style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">

  <tr style="height: 3rem;">
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
      出口商
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      國家別
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
      賠付金額<br />(新臺幣元)
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 20%;">
      小計<br />(新臺幣元)
    </th>
    <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
      百分比
    </th>
  </tr>

  <tbody>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td rowspan="2" style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 30%;">
        合計
      </th>
      <td style="border: 1px solid black;text-align: center;word-break: break-word;width: 15%;">

      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 20%;">
        V
      </td>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 15%;">
        V
      </td>
    </tr>
  </tbody>
</table>