<h2 >12.提存後損失率報表(月/季報)</h2>
<h3 style="text-align: center;">
  104年度輸出保險業務損失率(以提存準備調整後計算)
</h3>
<h5 style="text-align: right;margin-bottom: 5px;">
  單位：新臺幣元；%
</h5>
<table
  style="border: 1px solid black;text-align: center;border-collapse: collapse;table-layout: fixed;width: 100%;">
  <tbody>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期整體業務保險賠款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期自留業務保險賠款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期收回款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期自留收回款
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期追債費用
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期自留追債費用
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期提存之整體業務未決賠款準備
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        本期提存之自留業務未決賠款準備
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        上期提存之整體業務未決賠款準備
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        上期提存之自留業務未決賠款準備
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        滿期保費<br />(註一)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        滿期自留保費<br />(註二)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        整體業務損失率<br />(註三)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        自留業務損失率<br />(註四)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
    <tr style="height: 3rem;">
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        整體業務淨損失率<br />(註五)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
      <th style="border: 1px solid black;text-align: center;word-break: break-word;width: 25%">
        自留業務淨損失率<br />(註六)
      </th>
      <td style="border: 1px solid black;text-align: right;word-break: break-word;width: 25%">
        V
      </td>
    </tr>
  </tbody>
</table>
<p>
  註：</p>
<p>
  一、滿期保費=本期保費收入-本期未滿期保費準備+上期未滿期保費準備
</p>
<p>
  二、滿期自留保費=本期自留保費收入-本期未滿期自留保費準備+上期未滿期自留保費準備
</p>
<p>
  三、整體業務損失率＝（本期整體業務保險賠款＋本期提存之整體業務未決賠款
  準備－收回上期提存之整體業務未決賠款準備）÷ 滿期保費
</p>
<p>
  四、自留業務損失率＝（本期自留業務保險賠款＋本期提存之自留業務未決賠款準備－收回上期提存之自留業務未決賠款準備）÷ 滿期自留保費
</p>
<p>
  五、整體業務淨損失率＝（本期整體業務保險賠款＋本期追債費用－本期收回款＋本期提存之整體業務未決賠款準備－收回上期提存之整體業務未決賠款準備）÷ 滿期保費</p>
<p>
  六、自留業務淨損失率＝（本期自留業務保險賠款＋本期自留追債費用－本期自留收回款＋本期提存之自留業務未決賠款準備－收回上期提存之自留業務未決賠款準備）÷ 滿期自留保費</p>